<ion-content>

  <div class="content">
    <circle-progress
  [percent]=marks
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="1500"
  [showSubtitle]="false"
></circle-progress>
<ion-card>
<h1 class="mark animate__animated animate__zoomIn">Tnf.a ,l=kq </h1>
<h1 class="c animate__animated animate__zoomIn">{{ marks2 }}%</h1>
<button class="myButton d animate__animated animate__zoomIn">ප්‍රධාන මෙනුවට යමු</button>
</ion-card>
</div>

</ion-content>
