<ion-content [fullscreen]=true>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card  class="a ion-activatable animate__animated animate__zoomIn" (click)="showMessage(1)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="b ion-activatable animate__animated animate__zoomIn" (click)="showMessage(2)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="c ion-activatable animate__animated animate__zoomIn" (click)="showMessage(3)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="d ion-activatable animate__animated animate__zoomIn" (click)="showMessage(4)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="e ion-activatable animate__animated animate__zoomIn" (click)="showMessage(5)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="f ion-activatable animate__animated animate__zoomIn" (click)="showMessage(6)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="g ion-activatable animate__animated animate__zoomIn" (click)="showMessage(7)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="h ion-activatable animate__animated animate__zoomIn" (click)="showMessage(8)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="i ion-activatable animate__animated animate__zoomIn" (click)="showMessage(9)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      </ion-row>
      </ion-grid>
      </ion-content>
