<ion-content [fullscreen]=true>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card  class="a ion-activatable animate__animated animate__zoomIn" (click)="showMessage(1)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="b ion-activatable animate__animated animate__zoomIn" (click)="showMessage(2)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="c ion-activatable animate__animated animate__zoomIn" (click)="showMessage(3)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="d ion-activatable animate__animated animate__zoomIn" (click)="showMessage(4)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="e ion-activatable animate__animated animate__zoomIn" (click)="showMessage(5)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="f ion-activatable animate__animated animate__zoomIn" (click)="showMessage(6)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="g ion-activatable animate__animated animate__zoomIn" (click)="showMessage(7)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="h ion-activatable animate__animated animate__zoomIn" (click)="showMessage(8)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="i ion-activatable animate__animated animate__zoomIn" (click)="showMessage(9)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="j ion-activatable animate__animated animate__zoomIn" (click)="showMessage(10)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="k ion-activatable animate__animated animate__zoomIn" (click)="showMessage(11)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="l ion-activatable animate__animated animate__zoomIn" (click)="showMessage(12)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card  class="m ion-activatable animate__animated animate__zoomIn" (click)="showMessage(13)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card  class="n ion-activatable animate__animated animate__zoomIn" (click)="showMessage(14)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card  class="o ion-activatable" (click)="showMessage(15)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card  class="p ion-activatable" (click)="showMessage(16)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
</ion-row>
<ion-row>
      <ion-col>
        <ion-card  class="q ion-activatable" (click)="showMessage(17)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card  class="r ion-activatable" (click)="showMessage(18)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
</ion-row>
<ion-row>
      <ion-col>
        <ion-card  class="s ion-activatable" (click)="showMessage(19)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card  class="t ion-activatable" (click)="showMessage(20)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
</ion-row>
<ion-row>
      <ion-col>
        <ion-card  class="u ion-activatable" (click)="showMessage(21)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="v ion-activatable" (click)="showMessage(22)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
</ion-row>
<ion-row>
      <ion-col>
        <ion-card  class="w ion-activatable" (click)="showMessage(23)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card  class="x ion-activatable" (click)="showMessage(24)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
</ion-row>
<ion-row>
      <ion-col>
        <ion-card  class="y ion-activatable" (click)="showMessage(25)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card  class="z ion-activatable" (click)="showMessage(26)">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>

      </ion-col>

</ion-row>
  </ion-grid>
</ion-content>
