<ion-content [fullscreen]=true>
  <div class="container">
    <div class="rowdetails">
    <div class="row">

        <ion-card class="x animate__animated animate__zoomIn" (click)="goTo(1)">
        <ion-card-content>

          <h1 class="glow">{{ kk }}</h1>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="row">
      <ion-card class="y animate__animated animate__zoomIn" (click)="goTo(2)">
        <ion-card-content>
          <h1>úOdk i,l=Kq</h1>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="row">
      <ion-card class="z animate__animated animate__zoomIn" (click)="goTo(3)">
        <ion-card-content>
          <h1>;ykï i,l=Kq</h1>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="row">
      <ion-card class="a animate__animated animate__zoomIn" (click)="goTo(4)">
        <ion-card-content>
          <h1>wfkl=;a i,l=Kq</h1>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="row">
      <ion-card class="b animate__animated animate__zoomIn" (click)="goTo(5)">
        <ion-card-content>
          <h1>iSudldÍ i,l=Kq</h1>
        </ion-card-content>
      </ion-card>
    </div>

    </div>
  </div>
</ion-content>

