ion-content{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/home/background.jpg") no-repeat center center / cover;
}

ion-card{
  text-align: center;
  height: 30vh;
  border: 3px solid black;


}

h1{
  font-family:'FM-Samantha';
  font-size: 3rem;
  color:black;
}
.rowdetails{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.x{
  --background: linear-gradient(0deg, rgba(86, 125, 255, 0.3), rgba(248, 248, 248, 0.7)),
  url("/assets/warningsign/card.jpg") no-repeat center center / cover;

  animation-duration: 500ms;
  animation-delay: 100ms;
}
.y{
  --background: linear-gradient(0deg, rgb(127, 238, 76, 0.3), rgba(255, 255, 255, 0.7)),
  url("/assets/commandsign/card.jpg") no-repeat center center / cover;
  animation-duration: 500ms;
  animation-delay: 400ms;
}
.z{
  --background: linear-gradient(0deg, rgba(226, 47, 47, 0.3), rgba(255, 255, 255, 0.7)),
  url("/assets/dontsign/card.jpg") no-repeat center center / cover;
  animation-duration: 500ms;
  animation-delay: 600ms;
}
.a{
  --background: linear-gradient(0deg, rgba(90, 247, 207, 0.3), rgba(255, 255, 255, 0.7)),
  url("/assets/limitsign/card.jpg") no-repeat center center / cover;
  animation-duration: 500ms;
  animation-delay: 600ms;
}
.b{
  --background: linear-gradient(0deg, rgba(172, 99, 240, 0.3), rgba(255, 255, 255, 0.7)),
  url("/assets/other/card.jpg") no-repeat center center / cover;
  animation-duration: 500ms;
  animation-delay: 600ms;
}











