<ion-content [fullscreen]=true>
  <div class="container">
    <div class="rowdetails">
    <div class="row">

        <ion-card class="x animate__animated animate__zoomIn" (click)="dangerSign()">
        <ion-card-content>
          <h1>wk;=re we`.ùfï i,l=Kq</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="y animate__animated animate__zoomIn">
        <ion-card-content>
          <h1></h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="z animate__animated animate__zoomIn">
        <ion-card-content>
          <h1>m%Yak m;%</h1>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>

</ion-content>
