<ion-content [fullscreen]=true>
<ion-card>
  <ion-card-header>
    <h3>k;r lrkq</h3>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/police/1.JPG" width="200rem" height="150rem">
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <h3>ish¨u jdyk k;r lrkq</h3>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/police/2.JPG" width="200rem" height="150rem">
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <h3>bÈßfhka yd miqmiska meñfkk ish¨u jdyk k;r lrkq</h3>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/police/3.JPG" width="200rem" height="150rem">
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <h3>ol=kq me;af;ka meñfkk jdyk j,g bÈßhg hdug</h3>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/police/4.JPG" width="200rem" height="150rem">
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <h3>bÈßfhka tk jdyk j,g bÈßhg hdug</h3>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/police/5.JPG" width="200rem" height="150rem">
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <h3>jïmiska tk jdyk j,g bÈßhg hdug</h3>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/police/6.JPG" width="230rem" height="150rem">
  </ion-card-content>
</ion-card>

</ion-content>
