ion-card{
  height: 20vh;
}
ion-content{
  --ion-background-color:#ffffff;
}

.a{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/1.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 100ms;
}
.b{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/2.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 200ms;
}
.c{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/3.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 400ms;
}
.d{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/4.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 400ms;
}
.e{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/5.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 500ms;
}
.f{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/6.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 600ms;
}
.g{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/7.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 700ms;
}
.h{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/8.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 800ms;
}
.i{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/9.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 900ms;
}
.j{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/10.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 1000ms;
}
.k{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/11.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation-duration: 400ms;
  animation-delay: 1100ms;
}
.l{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/12.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}
.m{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/13.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}
.n{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/14.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}
.o{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/15.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.p{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/16.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.q{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/17.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.r{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/18.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.s{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/19.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.t{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/20.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.u{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/21.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.v{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/22.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.w{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/23.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.x{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/24.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.y{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/25.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}

.z{
  --background: linear-gradient(0deg, rgba(0,0,0,0), rgba(255, 255, 255, 0)),
  url("/assets/other/26.JPG") no-repeat center;

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

}
