/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~animate.css/animate.min.css';
@font-face {
  font-family: 'FM-Samantha';
  src: url('./assets/font/FM-Samantha.TTF');
}
@font-face {
  font-family: 'FM-Basuru';
  src: url('./assets/font/FM-Basuru.TTF');
}
@font-face {
  font-family: 'FM-Bindumathi';
  src: url('./assets/font/FM-Bindumathi.TTF');
}
.TextSelectable {
  --background: #edf8dc;
  --backdrop-opacity:0.8;

  align-items: center;



  .alert-message {
    text-align: center;
    color: black;

    font-weight: 900;
    font-size: 1rem;
  }
  .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

  .alert-button{
    color: red;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
  }

}
