<ion-content [fullscreen]=true>
  <div class="container">
    <div class="rowdetails">
    <div class="row">

        <ion-card class="x animate__animated animate__zoomIn" (click)="goTopaper(1)">
        <ion-card-content>
          <h1>m;%h 1</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="y animate__animated animate__zoomIn" (click)="goTopaper(2)">
        <ion-card-content>
          <h1>m;%h 2</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="z animate__animated animate__zoomIn" (click)="goTopaper(3)">
        <ion-card-content>
          <h1>m;%h 3</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="a animate__animated animate__zoomIn" (click)="goTopaper(4)">
        <ion-card-content>
          <h1>m;%h 4</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="b animate__animated animate__zoomIn" (click)="goTopaper(5)">
        <ion-card-content>
          <h1>m;%h 5</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="c animate__animated animate__zoomIn" (click)="goTopaper(6)">
        <ion-card-content>
          <h1>m;%h 6</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="d animate__animated animate__zoomIn" (click)="goTopaper(7)">
        <ion-card-content>
          <h1>m;%h 7</h1>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="row">
      <ion-card class="e animate__animated animate__zoomIn" (click)="goTopaper(8)">
        <ion-card-content>
          <h1>m;%h 8</h1>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="row">
      <ion-card class="f animate__animated animate__zoomIn" (click)="goTopaper(9)">
        <ion-card-content>
          <h1>m;%h 9</h1>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>

</ion-content>
